body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 28px;
}

.containerArtikel{
    display:flex;
    flex-direction: column;
    margin-top: 40px;
}

.containerImg{
    display: flex;
    min-height: 150px;
    overflow: hidden;
    border-radius: 10px;
}

.containerImg > img{
    width: 100%;
    /* height: auto; */
    object-position: center;
    object-fit: cover;
    transition: 0.3s;
}

.containerImg:hover img{
    transform: scale(1.25);
}

.containerContent{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: auto;
}

.artikel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerContent h2{
    font-size: 18px;
    margin: 5px 0px 0px 0px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.containerContent h6{
    margin: 0px;
}

.containerContent p{
    font-size: 14px;
    margin: 0px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.containerContent button{
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 8px 5px 8px;
    margin-top: 10px;
    border: 2px solid rgb(0, 100, 250);
    color: rgb(0, 100, 250);
    font-size: 14px;
}

.containerContent button:hover{
    background-color: rgb(0, 100, 250);
    color: white;
}

@media (min-width:1024px){
    .container{
        width: 90%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    .containerArtikel{
        flex-direction: row !important;
        justify-content: space-around;
    }

    h1{
        font-size: 36px !important;
    }

    h2{
        margin: 0px;
        font-size: 30px !important;
        -webkit-line-clamp: 3 !important;
    }

    h6{
        font-size: 14px;
    }

    p{
        font-size: 18px !important;
    }

    .containerImg{
        display: flex;
        max-width: 45%;
        min-height: 350px;
    }

    .containerContent{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        width: auto;
        height: 100%;
    }
}