<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000"/>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
  <link rel="icon" href="logoEduklimair.svg">
  <title>Eduklimair</title>
</head>
<body id="body">
  <app-toast></app-toast>
  <header id="header">
    <h1 id="logo"><a href="#">Eduklimair.</a></h1>
    <p id="tampunganKosong2"></p>
    <!-- NAVIGATION DESKTOP LOG OUT-->
    <nav id="nav1">
      <ul id="ul1">
        <li><a href="#">Home</a></li>
        <li id="listArticle" class="dropdown">Article ▼</li>
        <li class="favorite"><a href="#/favorite">Favorite</a></li>
        <li><a href="#/about">About Us</a></li>
        <li id="signLogInOut"><a href="#/signin">Sign in</a></li>
      </ul>
    </nav>
    <ul id="dropDownArticle">
      <li class="listItemArticles ">
        <h4>Kelangkaan Air Bersih</h4>
        <ul class="childListItemArticles ">
          <li><a href="#/articles/water/6489c1a39d9230854b012fdb">Pengertian</a></li>
          <li><a href="#/articles/water/6489bcbe9d9230854b012fa9">Permasalahan</a></li>
          <li><a href="#/articles/water/6489a4ac9d9230854b012f5d">Inovasi</a></li>
        </ul>
      </li>
      <li class="vertikal listItemArticles "></li>
      <li class="listItemArticles ">
        <h4>Sanitasi yang tidak layak</h4>
        <ul class="childListItemArticles ">
          <li><a href="#/articles/climate/6489e1c59d9230854b013274">Pengertian</a></li>
          <li><a href="#/articles/climate/6489e1599d9230854b01326e">Permasalahan</a></li>
          <li><a href="#/articles/climate/6489e0729d9230854b013223">Inovasi</a></li>
        </ul>
      </li>
      <li class="vertikal listItemArticles "></li>
      <li class="listItemArticles ">
        <h4>Perubahan iklim di Indonesia</h4>
        <ul class="childListItemArticles">
          <li><a href="#/articles/climate/6489d7a09d9230854b01317c">Pengertian</a></li>
          <li><a href="#/articles/climate/6489d80d9d9230854b013187">Permasalahan</a></li>
          <li><a href="#/articles/climate/6489d9f39d9230854b0131a1">Inovasi</a></li>
        </ul>
      </li>
    </ul>
    <p id="tampunganKosong"></p>
    <button id="masukAkun"  class="dropdown">
      <p id="username"></p>
      <img id="user-img" src="./profileWhite.png" width="30px" height="30px">
      
    </button>
    <ul id="dropDownUser" class="dropdown-child"></ul>
      
      

      <!-- NAVIGATION DESKTOP LOG IN-->
    <!--<nav id="nav1">
      <ul id="ul1">
        <li><a href="#">Home</a></li>
        <li id="listArticle" class="dropdown">Article ▼</li>
        <li><a href="#/about">About Us</a></li>
      </ul>
    </nav>
    <ul id="dropDownArticle" class="dropdown-item">
        <li class="listItemArticles dropdown">
          <h4>Kelangkaan Air Bersih</h4>
          <ul class="childListItemArticles dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="vertikal listItemArticles dropdown"></li>
        <li class="listItemArticles dropdown">
          <h4>Sanitasi yang tidak layak</h4>
          <ul class="childListItemArticles dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="vertikal listItemArticles dropdown"></li>
        <li class="listItemArticles dropdown">
          <h4>Perubahan iklim di Indonesia</h4>
          <ul class="childListItemArticles dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </li>
    </ul>
    <p id="tampunganKosong2"></p>
    <button id="masukAkun">
      <p>Hi, Rizal Abimanyu</p>
      <img src="./profileWhite.png" width="30px">
    </button>-->



    <!-- NAVIGATION MOBILE LOG OUT-->
    <nav id="nav2">
      <ul id="ul2">
        <li><a href="#">Home</a></li>
        <li id="listArticle2" class="dropdown" style="cursor: pointer">Article</li>
        <ul class="dropDownArticle2 dropdown-item" style="cursor: pointer">
          <li class="listItemArticles2 dropdown">Kelangkaan Air Bersih</li>
            <ul class="childListItemArticles2 dropdown-item">
              <li><a href="#/articles/water/6489c1a39d9230854b012fdb">Pengertian</a></li>
              <li><a href="#/articles/water/6489bcbe9d9230854b012fa9">Permasalahan</a></li>
              <li><a href="#/articles/water/6489a4ac9d9230854b012f5d">Inovasi</a></li>
            </ul>
          <li class="listItemArticles2 dropdown">Sanitasi yang tidak layak</li>
            <ul class="childListItemArticles2 dropdown-item">
              <li><a href="#/articles/climate/6489e1c59d9230854b013274">Pengertian</a></li>
              <li><a href="#/articles/climate/6489e1599d9230854b01326e">Permasalahan</a></li>
              <li><a href="#/articles/climate/6489e0729d9230854b013223">Inovasi</a></li>
            </ul>
          <li class="listItemArticles2 dropdown">Perubahan iklim di Indonesia</li>
            <ul class="childListItemArticles2 dropdown-item">
              <li><a href="#/articles/climate/6489d7a09d9230854b01317c">Pengertian</a></li>
              <li><a href="#/articles/climate/6489d80d9d9230854b013187">Permasalahan</a></li>
              <li><a href="#/articles/climate/6489d9f39d9230854b0131a1">Inovasi</a></li>
            </ul>
        </ul>
        <li class="favorite"><a href="#/favorite">Favorite</a></li>
        <li><a href="#/about">About Us</a></li>
        <li id="signLogInOut2"><a href="#/signin">Sign in</a></li>
      </ul>
    </nav>
    <p id="tampunganKosong2"></p>
    <img id="hamburgerButton" src="./hamburgerButton.png" width="50px" height="50px">
    
    
    

    <!-- NAVIGATION MOBILE LOG IN-->
    <!-- <nav id="nav2">
      <ul id="ul2">
        <li><a href="#">Home</a></li>
        <li><a href="#">Hi, Rizal</a></li>
        <li><a href="#">Edit Profile</a></li>
        <li><a href="#">Favorite</a></li>
        <li id="listArticle2" class="dropdown">Article</li>
        <ul class="dropDownArticle2 dropdown-item">
          <li class="listItemArticles2 dropdown">Kelangkaan Air Bersih</li>
          <ul class="childListItemArticles2 dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
          <li class="listItemArticles2 dropdown">Sanitasi yang tidak layak</li>
          <ul class="childListItemArticles2 dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
          <li class="listItemArticles2 dropdown">Perubahan iklim di Indonesia</li>
          <ul class="childListItemArticles2 dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </ul>
        <li><a href="#/about">About Us</a></li>
      </ul>
    </nav>
    <img id="hamburgerButton" src="./hamburgerButton.png" width="50px" height="50px">-->
  
  
  </header>
  <main id="main"></main>
  <footer id="footer">
    <div id="logoFooter1">
      <h1 id="logo"><a href="#">Eduklimair.</a></h1>
      <p>Copyright © 2023 Eduklimair.</p>
      <p>All Right Reserved by Eduklimair.</p>
    </div>
    <ul id="footerNav">
        <ul>
          <li class="logoListFooter"><a href="#">Home</a></li>
          <li class="logoListFooter"><a href="#/about">About Us</a></li>
        </ul>
        <li class="logoListFooter">Air
          <ul class="listFooter">
            <li><a href="#/articles/water/6489c1a39d9230854b012fdb">Pengertian</a></li>
            <li><a href="#/articles/water/6489bcbe9d9230854b012fa9">Permasalahan</a></li>
            <li><a href="#/articles/water/6489a4ac9d9230854b012f5d">Inovasi</a></li>
          </ul>
        </li>
        <li class="logoListFooter">Sanitasi
          <ul class="listFooter">
            <li><a href="#/articles/climate/6489e1c59d9230854b013274">Pengertian</a></li>
              <li><a href="#/articles/climate/6489e1599d9230854b01326e">Permasalahan</a></li>
              <li><a href="#/articles/climate/6489e0729d9230854b013223">Inovasi</a></li>
          </ul>
        </li>
        <li class="logoListFooter">Iklim
          <ul class="listFooter">
            <li><a href="#/articles/climate/6489d7a09d9230854b01317c">Pengertian</a></li>
            <li><a href="#/articles/climate/6489d80d9d9230854b013187">Permasalahan</a></li>
            <li><a href="#/articles/climate/6489d9f39d9230854b0131a1">Inovasi</a></li>
          </ul>
        </li>
    </ul>
    <img id="logoFooter2" src="./logoEduklimair.svg" width="10%">
  </footer>
</body>
</html>