<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#db0000"/>
  <link rel="icon" href="logoEduklimair.svg">
  <title>Eduklimair</title>
</head>
<body id="body">
  <header id="header">
    <h1 id="logo"><a href="#">Eduklimair.</a></h1>
    <nav id="nav1">
      <ul id="ul1">
      <li><a href="#">Home</a></li>
      <li id="listArticle" class="dropdown">Article ▼</li>
      <li><a href="#/about">About Us</a></li>
      <li id="signLogInOut"><a href="#/signin">Sign in</a></li>
    </ul>
    </nav>
      <ul id="dropDownArticle" class="dropdown-item">
        <li class="listItemArticles dropdown">
          <h4>Kelangkaan Air Bersih</h4>
          <ul class="childListItemArticles dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="vertikal listItemArticles dropdown"></li>
        <li class="listItemArticles dropdown">
          <h4>Sanitasi yang tidak layak</h4>
          <ul class="childListItemArticles dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="vertikal listItemArticles dropdown"></li>
        <li class="listItemArticles dropdown">
          <h4>Perubahan iklim di Indonesia</h4>
          <ul class="childListItemArticles dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </li>
      </ul>
    <nav id="nav2">
      <ul id="ul2">
        <li><a href="#">Home</a></li>
        <li id="listArticle2" class="dropdown">Article</li>
        <ul class="dropDownArticle2 dropdown-item">
          <li class="listItemArticles2 dropdown">Kelangkaan Air Bersih</li>
          <ul class="childListItemArticles2 dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
          <li class="listItemArticles2 dropdown">Sanitasi yang tidak layak</li>
          <ul class="childListItemArticles2 dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
          <li class="listItemArticles2 dropdown">Perubahan iklim di Indonesia</li>
          <ul class="childListItemArticles2 dropdown-item">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </ul>
        <li><a href="#/about">About Us</a></li>
        <li id="signLogInOut2"><a href="#/signin">Sign in</a></li>
      </ul>
    </nav>
    <p id="tampunganKosong2"></p>
    <img id="hamburgerButton" src="./hamburgerButton.png" width="50px" height="50px">
  </header>
  <main id="main">
    <div id="containerSignUp1">
      <div id="containerSignUp2">
        <img src="./gambarSignUp.svg" width="85%">
      </div>
      <div id="containerSignUp3">
        <div id="containerSignUp4">
          <form id="signUpForm">
            <h1>Sign Up</h1>
            <label>Nama</label>
            <input class="inputSignUp" type="text" name="name" required>
            <label>Username</label>
            <input class="inputSignUp" type="text" name="username" required>
            <label>Email</label>
            <input class="inputSignUp" type="email" name="email" required>
            <label>Password</label>
            <input class="inputSignUp" type="password" name="password" required>
            <label></label>
            <label></label>
            <button id="tombolSignUp" type="submit">Sign Up</button>
            <p id="sudahPunyaAkun">Sudah Punya Akun? <span><a href="#/signin">Sign In</a></span></p>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer id="footer">
    <div id="logoFooter1">
      <h1 id="logo"><a href="#">Eduklimair.</a></h1>
      <p>Copyright © 2023 Eduklimair.</p>
      <p>All Right Reserved by Eduklimair.</p>
    </div>
    <ul id="footerNav">
        <ul>
          <li class="logoListFooter">Home</li>
          <li class="logoListFooter">About Us</li>
        </ul>
        <li class="logoListFooter">Air
          <ul class="listFooter">
            <li>Pengertian</li>
            <li>Masalah</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="logoListFooter">Sanitasi
          <ul class="listFooter">
            <li>Pengertian</li>
            <li>Masalah</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="logoListFooter">Iklim
          <ul class="listFooter">
            <li>Pengertian</li>
            <li>Masalah</li>
            <li>Inovasi</li>
          </ul>
        </li>
    </ul>
    <img id="logoFooter2" src="./logoEduklimair.svg" width="10%">
  </footer>
</body>
</html>