<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eduklimair</title>
</head>
<body id="body">
  <header id="header">
    <h1 id="logo"><a href="#/home">Eduklimair.</a></h1>
    <nav id="nav1">
      <ul id="ul1">
      <li><a href="#">Home</a></li>
      <li id="listArticle">Article
        <div id="tampunganDropDown">
          <ul id="dropDownArticle">
            <li class="listItemArticles">Kelangkaan Air Bersih</li>
            <ul class="childListItemArticles">
              <li>Pengertian</li>
              <li>Permasalahan</li>
              <li>Inovasi</li>
            </ul>
            <li class="listItemArticles">Sanitasi yang tidak layak</li>
            <ul class="childListItemArticles">
              <li>Pengertian</li>
              <li>Permasalahan</li>
              <li>Inovasi</li>
            </ul>
            <li class="listItemArticles">Perubahan iklim di Indonesia</li>
            <ul class="childListItemArticles">
              <li>Pengertian</li>
              <li>Permasalahan</li>
              <li>Inovasi</li>
            </ul>
          </ul>
        </div>
      </li>
      <li><a href="#">About Us</a></li>
      <li id="signLogInOut"><a href="#">Sign in</a></li>
    </ul>
    </nav>
    <nav id="nav2">
      <ul id="ul2">
        <li id="signLogInOut2"><a href="#">Sign in</a></li>
        <li><a href="#">Home</a></li>
        <li id="listArticle2">Article</li>
        <ul id="dropDownArticle2">
          <li class="listItemArticles2">Kelangkaan Air Bersih</li>
          <ul class="childListItemArticles2">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
          <li class="listItemArticles2">Sanitasi yang tidak layak</li>
          <ul class="childListItemArticles2">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
          <li class="listItemArticles2">Perubahan iklim di Indonesia</li>
          <ul class="childListItemArticles2">
            <li>Pengertian</li>
            <li>Permasalahan</li>
            <li>Inovasi</li>
          </ul>
        </ul>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>
    <p id="tampunganKosong2"></p>
    <img id="hamburgerButton" src="./hamburgerButton.png" width="50px" height="50px">
  </header>
  <main id="main">
    <div id="jumbotron">
      <div id="container1">
        <p>Selamat datang di,</p>
        <p id="lain1">Eduklimair.</p>
        <p>Eduklimair hadir untuk mengedukasi anda bagaimana cara mengelola Air yang bersih, Sanitasi yang tidak layak dan Perubahan Iklim di Indonesia.</p>
      </div>
      <div id="container2">
        <img src="./inovation1.svg" width="100%">
      </div>
    </div>
    <div id="emptyArticles">
        <div class="infografis">
          <div class="container3">
            <h2>Kelangkaan Air Bersih</h2>
              <div class="container5">
                <h3>PENGERTIAN</h3>
                <p>Penjelasan terkait Kelangkaan air bersih</p>
              </div>
              <div class="container5">
                <h3>PERMASALAHAN</h3>
                <p>Penjelasan terkait Kelangkaan air bersih</p>
              </div>
              <div class="container5">
                <h3>INOVASI</h3>
                <p>Penjelasan terkait Kelangkaan air bersih</p>
              </div>
          </div>
          <div class="container4">
              <img src="./inovation2.svg" width="70%">
          </div>
        </div>
        <div class="infografis">
          <div class="container4">
            <img src="./inovation3.svg" width="55%">
          </div>
          <div class="container3">
            <h2>Sanitasi Yang Tidak Layak</h2>
            <div class="container5">
              <h3>PENGERTIAN</h3>
              <p>Penjelasan terkait Sanitasi yang tidak layak</p>
            </div>
            <div class="container5">
              <h3>PERMASALAHAN</h3>
              <p>Penjelasan terkait Sanitasi yang tidak layak</p>
            </div>
            <div class="container5">
              <h3>INOVASI</h3>
              <p>Penjelasan terkait Sanitasi yang tidak layak</p>
            </div>
          </div>
        </div>
        <div class="infografis">
          <div class="container3">
            <h2>Perubahan Iklim Di Indonesia</h2>
            <div class="container5">
              <h3>PENGERTIAN</h3>
              <p>Penjelasan terkait Perubahan iklim di Indonesia</p>
            </div>
            <div class="container5">
              <h3>PERMASALAHAN</h3>
              <p>Penjelasan terkait Perubahan iklim di Indonesia</p>
            </div>
            <div class="container5">
              <h3>INOVASI</h3>
              <p>Penjelasan terkait Perubahan iklim di Indonesia</p>
            </div>
          </div>
          <div class="container4">
            <img src="./inovation4.svg" width="70%">
          </div>
        </div>
        <div id="infografisLatest1">
          <div id="infografisLatest2">
            <h2>Dive into out latest articles and blog posts</h2>
            <div id="lain2">
              <button class="tombolLatest2"><img src="./beforeLatest.png" width="50px" height="50px"></button>
              <div id="overflowArticles">
                <div class="container7">
                  <img src="./banjir.jpg" width="200px">
                  <div class="container8">
                    <h3>Banjir</h3>
                    <p>Banjir adalah peristiwa atau keadaan dimana terendamnya...</p>
                    <button id="readmore">Read More</button>
                  </div>
                </div> 
                <div class="container7">
                  <img src="./banjir.jpg" width="200px">
                  <div class="container8">
                    <h3>Banjir</h3>
                    <p>Banjir adalah peristiwa atau keadaan dimana terendamnya...</p>
                    <button id="readmore">Read More</button>
                  </div>
                </div> 
                <div class="container7">
                  <img src="./banjir.jpg" width="200px">
                  <div class="container8">
                    <h3>Banjir</h3>
                    <p>Banjir adalah peristiwa atau keadaan dimana terendamnya...</p>
                    <button id="readmore">Read More</button>
                  </div>
                </div> 
                <div class="container7">
                  <img src="./banjir.jpg" width="200px">
                  <div class="container8">
                    <h3>Banjir</h3>
                    <p>Banjir adalah peristiwa atau keadaan dimana terendamnya...</p>
                    <button id="readmore">Read More</button>
                  </div>
                </div> 
                <div class="container7">
                  <img src="./banjir.jpg" width="200px">
                  <div class="container8">
                    <h3>Banjir</h3>
                    <p>Banjir adalah peristiwa atau keadaan dimana terendamnya...</p>
                    <button id="readmore">Read More</button>
                  </div>
                </div> 
                <div class="container7">
                  <img src="./banjir.jpg" width="200px">
                  <div class="container8">
                    <h3>Banjir</h3>
                    <p>Banjir adalah peristiwa atau keadaan dimana terendamnya...</p>
                    <button id="readmore">Read More</button>
                  </div>
                </div> 
              </div>
              <button class="tombolLatest2"><img src="./nextLatest.png" width="50px" height="50px"></button>
            </div>
            <button class="selengkapnya">Selengkapnya</button>
          </div>
        </div>
    </div>
  </main>
  <footer id="footer">
    <div id="logoFooter1">
      <h1 id="logo"><a href="#/home">Eduklimair.</a></h1>
      <p>Copyright © 2023 Eduklimair.</p>
      <p>All Right Reserved by Eduklimair.</p>
    </div>
    <ul id="footerNav">
        <ul>
          <li class="logoListFooter">Home</li>
          <li class="logoListFooter">About Us</li>
        </ul>
        <li class="logoListFooter">Air
          <ul class="listFooter">
            <li>Pengertian</li>
            <li>Masalah</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="logoListFooter">Sanitasi
          <ul class="listFooter">
            <li>Pengertian</li>
            <li>Masalah</li>
            <li>Inovasi</li>
          </ul>
        </li>
        <li class="logoListFooter">Iklim
          <ul class="listFooter">
            <li>Pengertian</li>
            <li>Masalah</li>
            <li>Inovasi</li>
          </ul>
        </li>
    </ul>
    <img id="logoFooter2" src="./logoFooter.svg" width="10%">
  </footer>
</body>
</html>