$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

.articles {
  padding-top: 80px;

}

.article-list {
  padding-bottom: 1rem;
  article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1.5rem;
    gap: 1rem;
    picture {
      border-radius: .625rem;
      max-width: 100%;
      
      .skeleton {
        height: 100%;
        aspect-ratio: 2 / 1;
      }
      img {
        width: 100%;
        aspect-ratio: 2 / 1;
        object-position: center;
        object-fit: cover;
        transition: 0.3s;
        border-radius: .5rem;
      }
      
    }
    .body {
      .content {
        display: flex;
        flex-direction: column;
        gap: .375rem;
        width: 100%;
        h3 {
          font-family: 'Poppins', sans-serif;
          font-size: 1.125rem;

          &.skeleton {
            height: 1.125rem;
            width: 100%;
            @media (min-width: $md) {
              height: 1.5rem;
            }
          }

          @media (min-width: $md) {
            margin: 0;
            font-size: 1.5rem;
          }
        }
        h4 {
          margin: 0;

          &.skeleton {
            width: 25%;
            @media (min-width: $md) {
              height: .875rem;
            }
          }

          @media (min-width: $md) {
            font-size: .875rem;
          }
        }
        p {
          font-size: .875rem;
          &.skeleton {
            width: 100%;
            height: .875rem;
            @media (min-width: $md) {
              height: 1.125rem;
            }
          }

          @media (min-width: $md) {
            font-size: 1.125rem !important;
          }
        }
        a, button {
          text-decoration: none;
          font-family: 'Poppins', sans-serif;
          cursor: pointer;
          background-color: white;
          border-radius: .375rem;
          border-color: transparent;
          padding: .625rem 1.25rem;
          margin-top: .625rem;
          border: 2px solid rgb(0, 100, 250);
          color: rgb(0, 100, 250);
          font-size: .875rem;
          width: fit-content;
          &:hover {
            background-color: rgb(0, 100, 250);
            color: white;
          }
          &.skeleton {
            width: 20%;
            height: 2rem;
            background-color: #E5E7EB;
            border-width: 0;
          }
        }
      }
      
      @media (min-width: $md) {
      }
    }
    @media (min-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $sm) {
    max-width: $sm;
  }

  @media (min-width: $md) {
    max-width: $md;
  }

  @media (min-width: $lg) {
    max-width: $lg;
  }

  @media (min-width: $xl) {
    max-width: $xl;
  }
}